/**
top bar
 */
.top-nav-bar {
    display: flex;
    justify-content: center;
    background-color: var(--f1-carbon-black);
    font-family: formula1display-regular, Arial, sans-serif;
    color: white;
    padding: 15px;
}

/**
Second bar on the page
 */
.second-nav-bar {
    background-color: var(--f1-light-carbon-black);
    color: var(--f1-off-white);
    font-family: formula1display-regular, Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    cursor: pointer;
}

.nav-title {
    margin: 0;
}

.second-nav-title {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 5px;
}

/**
Change color when hovering
 */
.second-nav-title:hover {
    border-bottom: 3px solid var(--f1-off-white);
}

/**
display active item in navbar
 */
.second-nav-active {
    border-bottom: 3px solid var(--f1-warm-red);
}
